.form {
    width: 100%;
    display: grid;
    gap: 16px;
    margin-top: 16px;

    width: 700px;
    padding: 24px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f;
}

.header {
    font-size: 24px;
    font-weight: 500;
    color: #111827;
    margin: 0;
    text-align: center;
}

.status-message {
    padding: 12px 16px;
}

.input-control {
    cursor: pointer;
    transition: all 0.2s linear 0s;
}

.rotate {
    transform: rotate(180deg);
}