.wrapper{
    padding: 1rem;
    width: 100%;
    min-height:100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f3f4f6;
}