.dropdown-body {
    margin-top: 4px;
    width: 100%;
    position: absolute;
    z-index: 10;
    padding: 4px;
    background: #fff;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
    box-sizing: border-box;
}

.dropdown {
    position: relative;
}

.dropdown-trigger {
    width: 100%;
}