.form {
    width: 100%;
    display: grid;
    gap: 16px;
    margin-top: 16px;

    padding: 24px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 1px 3px #0000001a, 0 1px 2px #0000000f;
}

.results,
.form {
    max-width: 700px;
}

.header {
    font-size: 24px;
    font-weight: 500;
    color: #111827;
    margin: 0;
    text-align: center;
}

.status-message {
    padding: 12px 16px;
}

.input-control {
    cursor: pointer;
    transition: all 0.2s linear 0s;
}

.rotate {
    transform: rotate(180deg);
}

.results {
    width: 100%;
    margin-top: 16px;
}

.tours-grid {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    gap: 16px;
}

@media (max-width: 550px) {
    .tours-grid {
        grid-template-columns: 1fr;
        gap: 16px;
    }
}